#collasible-nav-dropdown {
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 19px;
}
#collasible-nav-dropdown::after {
    content: none;
}
.second-nav {
    height: 45px;
    background: #a9a9a9;
    padding: 0;
}
.categories-dropdown {
    background: rgba(0, 0, 0, 0.22);
    height: 100%;
    margin: 0;
    padding: 0 30px;
    color: white;
    width: 260px;
}
.categories-dropdown p {
    display: inline;
}
.categories-dropdown svg {
    padding-right: 10px;
}
.dropdown-toggle {
    display: flex;
    justify-content: space-evenly;
}
.dropdown-menu {
    border-radius: 0;
    width: 260px;
    padding: 0;
}
.dropdown-item {
    padding: 10px;
    padding-left: 20px;
}
.dropdown-item:hover {
    background: #ffd400;
}